html,
body {
  font-family: "Dekko";
  background-color: #efefe8ff;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*
  ========================================
  Nav
  ========================================
*/

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

/* .nav-container svg {
  color: #000000;
} */

/*
  ========================================
  Login
  ========================================
*/

.MuiTextField-root {
  width: 300px;
}

/*
  ========================================
  Signup
  ========================================
*/

/*
  ========================================
  Home
  ========================================
*/

.home-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  ========================================
  Challenge
  ========================================
*/

.challenge-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-divs {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
